@using BlazorComponentBus;

@inject IComponentBus Bus
@inject HttpClient httpClient

<p>Введите название прибора</p>
<input type="text" @oninput="(e) => _addDevice.Name = e.Value.ToString()"/>
<p>Введите цену</p>
<input type="text" @oninput="(e) => _addDevice.Price = double.Parse(e.Value.ToString())" />
<p>Введите ссылку на прибор</p>
<input type="text" @oninput="(e) => _addDevice.Url = e.Value.ToString()" />
<p>Выберите производителя</p>

<input @onchange="(e) => _addDevice.Producer = _producers.FirstOrDefault(t => t.Name == e.Value.ToString())" type="text" name="producers" list="producersname">
    <datalist id="producersname">
        @foreach (var producer in _producers)
        {
            <option>@producer.Name</option>
        }
    </datalist>

<p>Выберите источник</p>
<input @onchange="(e) => _addDevice.Source = _sources.FirstOrDefault(t => t.Name == e.Value.ToString())" type="text" name="sources" list="sourcesname">
<datalist id="sourcesname">
    @foreach (var source in _sources)
    {
        <option>@source.Name</option>
    }
</datalist>
<p>Выберите тип прибора</p>
<input @onchange="(e) => _addDevice.Type = _types.FirstOrDefault(t => t.Name == e.Value.ToString())" type="text" name="types" list="typesname">
<datalist id="typesname">
    @foreach (var type in _types)
    {
        <option>@type.Name</option>
    }
</datalist>
<th>
    <button @onclick="() => AddCharacteristics()">Добавить характеристики</button>
</th>
<button @onclick="() => AddDevice()">Добавить прибор</button>
