@using BlazorComponentBus;

@inject HttpClient httpClient
@inject IComponentBus Bus
@inject NavigationManager Manager
<div class="modal-wrapper">

<table class="table">
    @foreach(var characteristic in _allCharacteristics)
    {
        <tr>
            <th>
                <input type="checkbox" checked="@_setCharacteristicsId.Contains(characteristic.Id)"
                @onchange="(e) => SetCharacteristic(bool.Parse(e.Value.ToString()), characteristic)"/>
            </th>
            <th>@characteristic.Name</th>
        </tr>
    }
</table>
<button class="button" @onclick="() => SaveCharacteristics()">Сохранить изменения</button>
</div>