@page "/characteristics"
@using BlazorComponentBus;

@inject HttpClient httpClient
@inject IComponentBus Bus
@inject NavigationManager Manager


<div class="wrapper">
	<div class="title">
		Экспертная система оценки измерительных приборов
	</div>
	<div class="wrapper_inner">
		<div class="navigation">
			<a class="navigation-link navigation-link_current" @onclick="() => GoToCharacteristics()">Характеристики</a>
			<a class="navigation-link" @onclick="() => GoToDevices()">Приборы</a>
			<a class="navigation-link" @onclick="() => GoToTypes()">Типы приборов</a>
			<a class="navigation-link" @onclick="() => GoToUnits()">Единицы измерения</a>
			<a class="navigation-link" @onclick="() => GoToSources()">Источники</a>
			<a class="navigation-link" @onclick="() => GoToProducers()">Производители</a>
		</div>
		<div class="main">
			<h3>Список характеристик</h3>
			<button class="button" @onclick="() => AddCharacteristic()">Добавить характеристику</button>
			<table class="table">
				<tr>
					<th>Название характеристики</th>
					<th>Синонимы</th>
					<th class="table_actions">Действия</th>
				</tr>
				<tbody>
					@foreach (var characteristic in _characteristics)
					{
						<tr>
							<td>
								<input type="text" value="@characteristic.Name" @oninput="(e) => characteristic.Name = string.IsNullOrEmpty(e.Value.ToString()) ? string.Empty : e.Value.ToString()" />
							</td>
							<td>
								<input type="text" value="@GetSynonyms(characteristic.Id)" @oninput="(e) => ChangeSynonym(characteristic.Id, e.Value.ToString())" />
							</td>
							<td>
								<div>
									<button class="button" @onclick="() => UpdateCharacteristic(characteristic)">Изменить</button>
									<button class="button" @onclick="() => DeleteCharacteristic(characteristic)">Удалить</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

</div>





