@page "/entry"
@using Microsoft.AspNetCore.Components

@inject NavigationManager Manager
<h1>Авторизация</h1>
<h3>Введите логин</h3>
<input type="text" @oninput="(e) => _login = e.Value.ToString()"/>
<h3>Введите пароль</h3>
<input type="password" @oninput="(e) => _password = e.Value.ToString()" />
<button @onclick="() => Enter()">Войти</button>
<button @onclick="() => GoToRegistration()">Регистрация</button>
