@page "/expertinterface"

<h3>ExpertInterface</h3>

<button @onclick="() => GoToCharacteristics()">Страница характеристик</button>
<button @onclick="() => GoToDevices()">Страница приборов</button>
<button @onclick="() => GoToTypes()">Страница типов</button>