@page "/"
@using Microsoft.AspNetCore.Components
@using Blazored.Modal
@using Microsoft.AspNetCore.Components.Routing
@using System.Diagnostics

@inject NavigationManager Manager

<div class="wrapper">
	<div class="title">
		Супер пупер класссная система подбора измерительного оборудования с искусственным интеллектом
	</div>
	<div class="wrapper_inner">
		<div class="loader"></div>
	</div>

</div>

<CascadingBlazoredModal>

</CascadingBlazoredModal>
@code {
	protected override void OnInitialized()
	{
		//Manager.NavigateTo("/entry");
	}


	//Работает, но нет анимации.
	// protected override void OnAfterRender(bool firstRender)
	// {
		
	// 	Manager.NavigateTo("/entry");
	// }



	//Работает, но вызывает ошибку.
	protected override async void OnAfterRender(bool firstRender)
	{
		//await Task.Delay(2000);
		Manager.NavigateTo("/entry");
	}
	

}