@page "/producers"
@using BlazorComponentBus;

@inject HttpClient httpClient
@inject IComponentBus Bus
@inject NavigationManager Manager

<div class="wrapper">
    <div class="title">
        Супер пупер класссная система подбора измерительного оборудования с искусственным интеллектом
    </div>
    <div class="wrapper_inner">
        <div class="navigation">
            <a class="navigation-link" @onclick="() => GoToCharacteristics()">Характеристики</a>
            <a class="navigation-link" @onclick="() => GoToDevices()">Приборы</a>
            <a class="navigation-link" @onclick="() => GoToTypes()">Типы приборов</a>
            <a class="navigation-link" @onclick="() => GoToUnits()">Единицы измерения</a>
            <a class="navigation-link" @onclick="() => GoToSources()">Источники</a>
            <a class="navigation-link navigation-link_current" @onclick="() => GoToProducers()">Производители</a>
        </div>
        <div class="main">
            <h3>Производители</h3>
            <button class="button" @onclick="() => AddProducer()">Добавить производителя</button>
            <table class="table">
                <tr>
                    <th>Название производителя</th>
                    <th>Контакты</th>
                    <th>Описание</th>
                    <th>Действия</th>
                </tr>
                <tbody> 
                @foreach (var producer in _producers)
                {
                    <tr>
                        <th>
                            <input type="text" value="@producer.Name" @oninput="(e) => producer.Name = string.IsNullOrEmpty(e.Value.ToString()) ? string.Empty : e.Value.ToString()" />
                        </th>
                        <th>
                            <input type="text" value="@producer.Contacts" @oninput="(e) => producer.Contacts = string.IsNullOrEmpty(e.Value.ToString()) ? string.Empty : e.Value.ToString()" />
                        </th>
                        <th>
                            <input type="text" value="@producer.Description" @oninput="(e) => producer.Description = string.IsNullOrEmpty(e.Value.ToString()) ? string.Empty : e.Value.ToString()" />
                        </th>
                        <th>
                            <button class="button" @onclick="() => UpdateProducer(producer)">Изменить</button>
                            <button class="button" @onclick="() => DeleteProducer(producer)">Удалить</button>
                        </th>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

</div>


