@page "/registration"
@using Microsoft.AspNetCore.Components

@inject NavigationManager Manager
@inject HttpClient httpClient
@if(_isError)
{
     <p>@_error</p>
}

<h1>Регистрация</h1>
<h3>Введите ФИО</h3>
<input type="text" @oninput="(e) => _name = e.Value.ToString()" />
<input type="checkbox" id="expert" @onchange="(e) => _isExpert = bool.Parse(e.Value.ToString())" />
<label for="expert">Эксперт</label>
<h3>Введите логин</h3>
<input type="text" @oninput="(e) => _login = e.Value.ToString()" />
<h3>Введите пароль</h3>
<input type="password" @oninput="(e) => _password = e.Value.ToString()" />
<h3>Подтверждение пароля</h3>
<input type="password" @oninput="(e) => _passwordAck = e.Value.ToString()" />
<button @onclick="() => Register()">Зарегистрироваться</button>
<button @onclick="() => GoToEntry()">Вернуться на страницу авторизации</button>
