

<div class="modal-wrapper">
    <table class="table">
        <tr>
            <th>Название характеристики</th>
            <th>Значение от пользователя</th>
            <th>Значение характеристики прибора</th>
        </tr>
        <tbody>
            @foreach (var characteristic in CharacteristicsForFind)
            {
                <tr>
                    <th>
                        @characteristic.Name
                    </th>
                    <th>
                        @GetValueCharacteristic(characteristic)
                    </th>
                    <th>
                        @GetValue(characteristic)
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>