@page "/types"
@using BlazorComponentBus;

@inject HttpClient httpClient
@inject IComponentBus Bus
@inject NavigationManager Manager

<div class="wrapper">
    <div class="title">
        Экспертная система оценки измерительных приборов
    </div>
    <div class="wrapper_inner">
        <div class="navigation">
            <a class="navigation-link" @onclick="() => GoToCharacteristics()">Характеристики</a>
            <a class="navigation-link" @onclick="() => GoToDevices()">Приборы</a>
            <a class="navigation-link navigation-link_current" @onclick="() => GoToTypes()">Типы приборов</a>
            <a class="navigation-link" @onclick="() => GoToUnits()">Единицы измерения</a>
            <a class="navigation-link" @onclick="() => GoToSources()">Источники</a>
            <a class="navigation-link" @onclick="() => GoToProducers()">Производители</a>
        </div>
        <div class="main">
            <h3>Типы приборов</h3>
            <button class="button" @onclick="() => AddType()">Добавить тип приборов</button>
            <table class="table">
                <tr>
                    <th>Название типа</th>
                    <th>Основные характеристики</th>
                    <th>Описание</th>
                    <th>Действия</th>
                </tr>
                <tbody>
                @foreach (var type in _types)
                {
                    <tr>
                        <th>
                            <input type="text" value="@type.Name" @oninput="(e) => type.Name = string.IsNullOrEmpty(e.Value.ToString()) ? string.Empty : e.Value.ToString()" />
                        </th>
                        <th>
                                <button class="button" @onclick="() => ChangeMainCharacteristics(type)">Изменение основных характеристик</button>
                        </th>
                        <th>
                            <input type="text" value="@type.Description" @oninput="(e) => type.Description = string.IsNullOrEmpty(e.Value.ToString()) ? string.Empty : e.Value.ToString()" />
                        </th>
                        <th>
                                <button class="button" @onclick="() => UpdateType(type)">Изменить</button>
                                <button class="button" @onclick="() => DeleteType(type)">Удалить</button>
                        </th>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

</div>


