@page "/units"
@using BlazorComponentBus;

@inject HttpClient httpClient
@inject IComponentBus Bus
@inject NavigationManager Manager

<div class="wrapper">
    <div class="title">
        Супер пупер класссная система подбора измерительного оборудования с искусственным интеллектом
    </div>
    <div class="wrapper_inner">
        <div class="navigation">
            <a class="navigation-link" @onclick="() => GoToCharacteristics()">Характеристики</a>
            <a class="navigation-link" @onclick="() => GoToDevices()">Приборы</a>
            <a class="navigation-link" @onclick="() => GoToTypes()">Типы приборов</a>
            <a class="navigation-link navigation-link_current" @onclick="() => GoToUnits()">Единицы измерения</a>
            <a class="navigation-link" @onclick="() => GoToSources()">Источники</a>
            <a class="navigation-link" @onclick="() => GoToProducers()">Производители</a>
        </div>
        <div class="main">
            <h3>Единицы измерения</h3>
            <button class="button" @onclick="() => AddUnit()">Добавить единицу измерения</button>
            <table class="table">
                <tr>
                    <th>Название единицы измерения</th>
                    <th>Коэффициент умножения до системы СИ</th>
                    <th>Действия</th>
                </tr>
                <tbody>
                    @foreach (var unit in _units)
                    {
                        <tr>
                            <th>
                                <input type="text" value="@unit.Name" @oninput="(e) => unit.Name = string.IsNullOrEmpty(e.Value.ToString()) ? string.Empty : e.Value.ToString()" />
                            </th>
                            <th>
                                <input type="text" value="@unit.MultiplicationFactor.ToString()" @oninput="(e) => unit.MultiplicationFactor = double.TryParse(e.Value.ToString(), out var value) ? value : 1" />
                            </th>
                            <th>
                                <button class="button" @onclick="() => UpdateUnit(unit)">Изменить</button>
                                <button class="button" @onclick="() => DeleteUnit(unit)">Удалить</button>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>



